@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Manrope", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: black;
    background-color: white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


}

p {
    margin: 0;
    padding: 0;
}

.button {
    /* Frame 12 */
    position: relative;
    width: min-content;
    height: 38px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;


    box-sizing: border-box;
    border: 1px solid rgb(220, 220, 222);
    border-radius: 50px;
}

.button-text {
    /* отзывы */
    position: static;
    width: min-content;
    height: 18px;
    /* Автолейаут */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 25px 10px 25px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;

    color: rgb(28, 28, 28);
    font-family: Nunito Sans, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0;
    text-align: left;
    text-transform: capitalize;
}

.main {
    max-width: 1200px;
    width: 100%;

    margin: 0 auto;
    text-align: center;
}

.header {
    margin-top: 38px;
    display: flex;
}

.main-block-title-item {

}

.main-block-title {
    display: flex;
    align-items: center;

    width: 742px;

    text-align: left;

    margin-left: 24px;
}

.main-block-title h1 {
    display: inline-block;
    color: rgb(47, 47, 47);
    font-size: 60px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -1px;
}

.block {
    box-sizing: border-box;
    border-radius: 20px;
    margin: 0 auto;
}


.main-block {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 250px 367px;

    margin-bottom: 180px;
}

.o-t {

    margin-right: 16px;

    grid-column: 1 / 1;
    grid-row: 2 / 3;

    box-sizing: border-box;
    border-radius: 20px;

    /*background: #935EF2;*/
}

.o-t .image {
    padding: 25px 36px 30px 26px;

    background-image: url('./assets/back.png');
    width: 383px;
    height: 281px;
    background-repeat: no-repeat;

    margin-bottom: 13px;

}

.o-t .text-1 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1px;
    text-align: left;

    margin: 0;

}

.o-t .timer {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -3px;
    text-align: left;

    border-bottom: 1px solid #F4F4F6;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.o-t .last-price {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1px;
    text-align: left;

    text-decoration: line-through;
    text-decoration-thickness: 1px;

    margin: 0;
}

/*.o-t .last-price::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 55.5%;*/
/*    left: 14.5%;*/
/*    width: 6%;*/
/*    height: 1px;*/
/*    background-color: rgb(255, 255, 255);*/
/*    transform: translateY(-50%);*/
/*}*/

.o-t .main-block-button {
    display: flex;

    justify-content: space-between;

    margin: 0;
    padding: 24px 26px;
    background-color: rgba(138, 83, 255, 1);
    border-radius: 20px;
    width: 383px;
    height: 73px;
    text-transform: uppercase;
    text-align: left;

    font-size: 25px;
    font-weight: 600;
    line-height: 100%;
    color: rgba(250, 250, 250, 1);
}


.o-t .price {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -3px;
    text-align: left;

    margin: 0;
}

.t-t {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    width: 382px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    margin: 0 auto;
    padding: 25px 36px 30px 26px;

    box-sizing: border-box;
    border: 1px solid rgb(220, 220, 222);
    border-radius: 20px;

    background: rgb(244, 244, 246);
}

.t-t .text {
    color: rgb(122, 122, 122);
    font-family: Nunito Sans, serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
}

.t-t .text-2 {
    color: rgb(47, 47, 47);
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1px;
    text-align: left;

    padding: 0;
}

.t-3 {
    margin-left: 18px;
    grid-column: 3 / 3;
    grid-row: 1 / 3;
}

.t-3 .image {
    position: relative;
    top: -10px;


    display: flex;
    justify-content: space-between;
    flex-direction: column;

    padding: 25px 36px 30px 26px;
    width: 383px;
    height: 222px;
    background-image: url('./assets/2.png');
    background-repeat: no-repeat;
}

.t-3 .icon {
    font-size: 40px;
    text-align: left;
}

.t-3 .text {
    color: rgb(47, 47, 47);
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1px;
    text-align: left;
}

.t-3 .two {
    box-sizing: border-box;
    position: relative;
    top: -20px;
    width: 383px;
    height: 213px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    padding: 25px 36px 30px 26px;

    border-radius: 20px;
    background: rgb(47, 47, 47);

    .icon {
        margin-bottom: 20px;
    }
}

.t-3 .two .text-1 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1px;
    text-align: left;
}

.t-3 .two .text-2 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -3px;
    text-align: left;
}

.t-3 .three {
    position: relative;
    top: -29px;

    height: 212px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    padding: 25px 36px 30px 26px;

    box-sizing: border-box;
    border: 1px solid rgb(47, 47, 47);
    border-radius: 20px;

    background: rgb(255, 255, 255);

    .icon {
        margin-bottom: 20px;
    }
}

.t-3 .three .text-1 {
    color: rgb(47, 47, 47);
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1px;
    text-align: left;
}

.t-3 .three .text-2 {
    color: rgb(47, 47, 47);
    font-size: 60px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -3px;
    text-align: left;
}

.salary {

    margin-bottom: 180px;

    .salary-blocks {
        display: flex;
        justify-content: space-between;
    }
}

.salary-block-1 {
    padding: 25px 14px 30px 26px;

    width: 383px;
    height: 334px;

    box-sizing: border-box;
    border: 1px solid rgb(47, 47, 47);
    border-radius: 20px;

    background: rgb(47, 47, 47);
}

.salary-block-1 .salary-icon {
    margin-bottom: 40px;
    text-align: left;
}

.salary-block-2 .salary-icon {
    margin-bottom: 40px;
    text-align: left;
}

.salary-block-3 {
    width: 383px;
    display: flex;
    flex-direction: row-reverse;

    .pointer {
        height: 91px;
        width: 82px;
    }
}

.salary-block-1 .salary-text {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1px;
    text-align: left;
    color: white;

    span {
        color: rgb(196, 244, 73);
    }
}

.salary-block-1 .salary-desk {
    color: rgb(195, 195, 197);
    font-family: Nunito Sans, serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;

    span {
        font-weight: bold;
    }
}

.salary-block-2 {
    position: relative;
    top: 180px;

    padding: 25px 14px 30px 26px;
    width: 383px;
    height: 242px;

    box-sizing: border-box;
    border-radius: 20px;

    background: rgb(215, 25, 32);
}

.salary-block-2 .salary-text {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1px;
    text-align: left;
}

.salary-block-3 .pointer {

}

.salary-block-4 {
    position: relative;
    top: 200px;
}

.salary-block-5 {
    position: relative;
    top: 30px;
}

.whoIsIt {
    position: relative;
    z-index: 1;

    margin-top: 360px;
    margin-bottom: 180px;
}

.whoIsIt-titles {
    display: flex;
    justify-content: space-between;
}

.whoIsIt .main-block {
    display: flex;
    justify-content: space-between;

    position: relative;
    z-index: 20;
}

.whoIsIt .title {
    margin: 0 24px;
    position: relative;
    z-index: 10;

    color: rgb(47, 47, 47);
    font-size: 132px;
    font-weight: 500;
    line-height: 110%;
    text-align: left;
    text-transform: uppercase;
}


.whoIsIt .block-1 {
    padding: 25px 14px 30px 26px;
    position: relative;
    top: -35px;
    z-index: 1000;
    width: 383px;
    height: 350px;

    border-radius: 20px;

    background: rgba(196, 244, 73, 0.3);
    backdrop-filter: blur(6px);

    .icon {
        width: 34px;
        height: 34px;
        border-radius: 1000px;
        padding: 4px;
        border: 1px solid rgb(47, 47, 47);
        margin-bottom: 40px;
    }

    .block-title {
        color: rgb(47, 47, 47);
        font-size: 30px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -1px;
        text-align: left;

        margin-bottom: 90px;
    }

    .text {
        color: rgb(122, 122, 122);
        font-family: Nunito Sans, serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 150%;
        text-align: left;
    }
}

/*.whoIsIt .block-1:after {*/
/*    !*background: url("./assets/ColorfulNoise 1.png");*!*/
/*    content: '';*/
/*    border-radius: 20px;*/
/*    display: block;*/
/*    position: relative;*/
/*    top: -95px;*/
/*    z-index: 1003450;*/
/*    backdrop-filter: blur(4px);*/
/*    !*opacity: 0.1;*!*/
/*    width: 383px;*/
/*    height: 350px;*/
/*}*/

.whoIsIt .block-2 {
    position: relative;
    top: 30px;

    padding: 25px 14px 30px 26px;
    width: 383px;
    height: 517px;

    border-radius: 20px;

    background: #F4F4F6;

    .icon {
        width: 34px;
        height: 34px;
        border-radius: 1000px;
        padding: 4px;
        border: 1px solid rgb(47, 47, 47);
        margin-bottom: 40px;
    }

    .block-title {
        color: rgb(47, 47, 47);
        font-size: 30px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -1px;
        text-align: left;

        margin-bottom: 90px;
    }

    .text {
        color: rgb(122, 122, 122);
        font-family: Nunito Sans, serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 150%;
        text-align: left;
    }
}

.whoIsIt .block-3 {
    position: relative;
    top: 110px;

    display: flex;
    flex-direction: column;
    color: #F4F4F6;
    padding: 25px 14px 30px 26px;
    width: 383px;
    height: 575px;

    border-radius: 20px;

    background: #2F2F2F;

    .icon {
        width: 34px;
        height: 34px;
        border-radius: 1000px;
        padding: 4px;
        border: 1px solid #F4F4F6;
        margin-bottom: 40px;
    }

    .block-title {
        color: rgb(255, 255, 255);
        font-size: 30px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -1px;
        text-align: left;
        margin-bottom: 94px;
    }

    .item {
        margin-bottom: 10px;
        gap: 10px;
        text-align: left;
        display: flex;
        align-items: flex-start;

        span {
            color: rgb(196, 244, 73);
            font-weight: 600;
        }
    }

    .select {
        margin-bottom: 40px;
    }

    .btn {
        display: flex;

        justify-content: space-between;

        margin-left: -12px;
        padding: 12px 16px;
        height: 42px;
        border-radius: 10px;

        background: rgb(255, 255, 255);

        color: rgb(47, 47, 47);
        font-size: 18px;
        font-weight: 500;
        line-height: 100%;
        text-align: left;
        text-transform: uppercase;
    }
}

.reviews {

}

.reviews .main-block {
    display: flex;
}

.reviews .title {
    margin: 0 24px;

    color: rgb(47, 47, 47);
    font-size: 132px;
    font-weight: 500;
    line-height: 110%;
    text-align: left;
    text-transform: uppercase;
}

.reviews .block-1 {
    position: relative;
    top: -32px;
    padding: 25px 14px 30px 26px;

    background: rgba(220, 220, 222, 0.3);
    backdrop-filter: blur(6px);
    border: 1px solid white;

    /*background: #F4F4F6;*/
    width: 383px;
    height: 458px;
    border-radius: 20px;

    .icon {
        margin-bottom: 40px;
    }

    .text {
        color: rgb(47, 47, 47);
        font-size: 30px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -1px;
        text-align: left;
    }
}

.arrow-block {
    position: relative;
    top: 80px;
}

.reviews .block-2 {
    position: relative;
    top: 120px;

    padding: 25px 14px 30px 26px;

    background: #C4F449;
    width: 383px;
    height: 631px;
    border-radius: 20px;

    .block-title {
        text-align: left;
        font-weight: 500;
        line-height: 120%;
        font-size: 30px;
        letter-spacing: -1px;
        margin-bottom: 40px;
    }

    .desk {
        color: rgb(47, 47, 47);
        font-family: Nunito Sans, serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 150%;
        text-align: left;
    }
}

.reviews .block-10 {
    position: relative;
    top: -140px;

    padding: 25px 14px 30px 26px;

    background: #F4F4F6;
    width: 383px;
    height: 745px;
    border-radius: 20px;

    .block-title {
        text-align: left;
        font-weight: 500;
        line-height: 120%;
        font-size: 30px;
        letter-spacing: -1px;
        margin-bottom: 40px;
    }

    .desk {
        color: rgb(47, 47, 47);
        font-family: Nunito Sans, serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 150%;
        text-align: left;
    }

}

.reviews .block-11 {
    position: relative;
    top: 110px;

    padding: 25px 14px 30px 26px;

    background: white;
    border: 1px solid black;

    width: 383px;
    height: 735px;
    border-radius: 20px;

    .block-title {
        text-align: left;
        font-weight: 500;
        line-height: 120%;
        font-size: 30px;
        letter-spacing: -1px;
        margin-bottom: 40px;
    }

    .desk {
        color: rgb(47, 47, 47);
        font-family: Nunito Sans, serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 150%;
        text-align: left;
    }

}

.reviews .block-3 {
    position: relative;
    top: 380px;
    z-index: 100;

    box-sizing: border-box;

    border-radius: 20px;

    width: 382px;
    height: 332px;

    padding: 12px 12px 31px 24px;
    overflow: hidden;

    background: rgb(47, 47, 47);

    text-align: center;

    .image {
        width: 332px;
        height: 290px;
        background: url("./assets/r1.jpg") no-repeat;
    }
}

.reviews .block-3:hover {
    height: 625px;
    overflow: visible;

    .image {
        height: 100%;
    }
}

.reviews .block-5 {
    border-radius: 20px;

    background: rgb(47, 47, 47);

    width: 382px;
    height: 359px;
}

.reviews .block-13 {
    position: relative;
    top: -70px;
    border-radius: 20px;

    background: rgb(47, 47, 47);

    width: 382px;
    height: 456px;
}

.reviews .block-14 {
    position: relative;
    top: -230px;
    z-index: 100;

    box-sizing: border-box;

    border-radius: 20px;

    width: 382px;
    height: 481px;

    padding: 12px 12px 31px 24px;
    overflow: hidden;

    background: rgb(47, 47, 47);

    text-align: center;

    .image {
        width: 332px;
        height: 440px;
        background: url("./assets/prev5.svg") no-repeat;
    }
}

.reviews .block-14:hover {
    height: 540px;
    overflow: visible;

    .image {
        height: 100%;
    }
}

.block-16 {
    position: relative;
    top: -290px;
    text-align: left;
}

.video {
    height: 448px;
    display: flex;

    border-radius: 20px;

    background: rgb(47, 47, 47);

    padding: 20px;
    box-sizing: border-box;

    .video-wrapper {
        min-width: 725px !important;
    }
}

.video .text {
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1px;
    text-align: left;

    color: white;

    .icon {
        margin-bottom: 40px;
    }

    span {
        color: #C4F449;
    }
}

.slider .main-block {
    justify-content: space-between;
    display: flex;
}

.slider .main-slider {
    width: 778px;
    height: 460px;

    padding: 26px;
    box-sizing: border-box;

    border-radius: 20px;

    background: rgb(244, 244, 246);
}


.slider .slider-image {
    text-align: center;
    width: 725px;
    height: 406px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-image: url("./assets/slider_background.png");
}

.slider .slider-image .item {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slick-slide {
    display: flex !important;
}

.ct-flex {
    width: 725px;
    height: 406px;

    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slider .wrapper-slider {
    width: 383px;
    height: 460px;

    padding: 26px;
    box-sizing: border-box;

    border-radius: 20px;

    background: rgb(244, 244, 246);
}

.slider .buttons {
    position: relative;
    top: -65px;

    display: flex;
    width: 133px;
    justify-content: space-between;
    align-items: center;

}

.slider-item {
    margin-bottom: 70px;
    color: rgb(47, 47, 47);
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1px;
    text-align: left;

    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
}

.slider-desc {
    color: rgb(122, 122, 122);
    font-family: Nunito Sans, serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
}

.slider .title {
    margin: 0 24px;
    color: rgb(47, 47, 47);
    font-size: 132px;
    font-weight: 500;
    line-height: 110%;
    text-align: left;
    text-transform: uppercase;
}

.slider-btn {
    color: rgb(47, 47, 47);
    font-size: 11px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;

    white-space: nowrap;

    text-align: left;
    padding: 15px 26px 16px 26px;
    border-radius: 10px;
    border: 1px solid #DCDCDE;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 329px;
    height: 42px;

}

.order {
    display: flex;
}

.order .image1 {
    background-image: url('./assets/back.svg');
    width: 388px;
    height: 281px;
    background-repeat: no-repeat;

    margin-bottom: 13px;

}

.order .image2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 26px 16px 26px;
    width: 388px;
    height: 281px;
    background-image: url('./assets/back2.svg');
    background-repeat: no-repeat;

    .text{
        color: rgb(47, 47, 47);
        font-size: 30px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -1px;
        text-align: left;
    }

    .desk{
        color: rgb(47, 47, 47);
        font-size: 60px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -3px;
        text-align: left;
    }
}

.order .image3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 26px 16px 26px;
    width: 388px;
    height: 281px;
    border-radius: 20px;
    background: #F4F4F6;
    color: #2F2F2F;

    .text{
        color: rgb(47, 47, 47);
        font-size: 30px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -1px;
        text-align: left;
    }

    .desk{
        color: rgb(47, 47, 47);
        font-size: 60px;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -3px;
        text-align: left;
    }
}

.to-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #8A53FF;
    height: 73px;
    border-radius: 20px;

    padding: 24px 26px;

    color: rgb(250, 250, 250);
    font-size: 25px;
    font-weight: 500;
    line-height: 100%;
    text-align: left;
    text-transform: uppercase;
}

.a-style {
    background: #F4F4F6 !important;
    box-shadow: none !important;

    color: rgb(47, 47, 47);
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1px;
}

.a-style path {
    color: rgb(47, 47, 47);
    font-size: 30px !important;
}

.a-style span {
    color: rgb(47, 47, 47);
    font-size: 30px !important;
    font-weight: 500 !important;
    line-height: 120% !important;
    letter-spacing: -1px;
}

.description .title {
    font-size: 60px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -3px;
    text-align: left;

    span{
        color: #c3c3c5;
    }

    margin-bottom: 90px;
}

.description{
    .text-desk{
        margin: 40px 0;
        text-align: left;
    }

    .select{
        text-align: left;
        margin-bottom: 33px;
    }

    .item {
        margin-bottom: 10px;
        gap: 10px;
        text-align: left;
        display: flex;
        align-items: flex-start;

        color: rgb(47, 47, 47);
        font-family: Nunito Sans, serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0px;
    }
}

.custom-p{
    padding-left: 26px!important;
    padding-right: 26px!important;
    /*padding-bottom: 33px!important;*/
    border-radius: 20px!important;
}

.video2-block {
    height: auto;

    border-radius: 20px;

    background: #F4F4F6;

    padding: 20px;
    box-sizing: border-box;

    margin-bottom: 180px;

    .video2{
        display: flex;
    }

    .video-wrapper {
        min-width: 725px !important;
    }

    .btn-video{
        margin-top: 27px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        border-radius: 10px;
        background: #29A0DC;
        height: 73px;
        padding: 24px;

        color: rgb(255, 255, 255);
        font-size: 25px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: left;
        text-transform: uppercase;
    }
}

.video2 .text {
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -1px;
    text-align: left;

    .icon {
        margin-bottom: 40px;
    }
}

.about {
    margin-bottom: 180px;
}

.about .title {
    color: rgb(47, 47, 47);
    font-size: 132px;
    font-weight: 500;
    line-height: 110%;
    text-align: left;
    text-transform: uppercase;
}

.about .blocks {
    display: flex;
}

.about .block-m {
    width: 383px;
    height: 386px;

    border-radius: 20px;
    background: rgb(2, 103, 248);
}

.about .block-1 {
    width: 382px;
    height: 472px;

    box-sizing: border-box;
    border: 1px solid rgb(47, 47, 47);
    border-radius: 20px;

    background: rgb(255, 255, 255);
}

.about .block-2 {
    width: 382px;
    height: 472px;

    box-sizing: border-box;
    border-radius: 20px;

    background: rgb(2, 103, 248);
}

.about .block-3 {
    width: 382px;
    height: 472px;

    box-sizing: border-box;
    border-radius: 20px;

    background: rgb(255, 232, 22);
}

.about .block-4 {
    width: 382px;
    height: 472px;

    box-sizing: border-box;
    border-radius: 20px;

    background: rgb(194, 31, 37);
}

.after .title {
    color: rgb(47, 47, 47);
    font-size: 132px;
    font-weight: 500;
    line-height: 110%;
    text-align: left;
    text-transform: uppercase;
}

.after .blocks {
    display: flex;
}

.after {
    margin-bottom: 180px;
}


.after .block-1 {

    width: 383px;
    height: 530px;

    border-radius: 20px;

    background: rgb(244, 244, 246);
}

.faq {
    margin-bottom: 180px;
}

.faq .title {
    color: rgb(47, 47, 47);
    font-size: 132px;
    font-weight: 500;
    line-height: 110%;
    text-align: left;
    text-transform: uppercase;
}

.accordion {

    button {
        position: relative;
        display: block;
        text-align: left;
        width: 100%;
        padding: 1em 0;
        font-size: 1.15rem;
        font-weight: 400;
        border: none;
        background: none;
        outline: none;

        &:hover, &:focus {
            cursor: pointer;
            color: blue;

            &::after {
                cursor: pointer;
                color: blue;
            }
        }

        .accordion-title {
            padding: 1em 1.5em 1em 0;
            background: rgba(47, 47, 47, 0.9);
            border-radius: 10px;
        }

        .icon {
            display: inline-block;
            position: absolute;
            top: 18px;
            right: 0;
            width: 22px;
            height: 22px;
            border: 1px solid;
            border-radius: 22px;

            &::before {
                display: block;
                position: absolute;
                content: '';
                top: 9px;
                left: 5px;
                width: 10px;
                height: 2px;
                background: currentColor;
            }

            &::after {
                display: block;
                position: absolute;
                content: '';
                top: 5px;
                left: 9px;
                width: 2px;
                height: 10px;
                background: currentColor;
            }
        }
    }

    button[aria-expanded='true'] {
        color: blue;

        .icon {
            &::after {
                width: 0;
            }
        }

        + .accordion-content {
            opacity: 1;
            max-height: 9em;
            transition: all 200ms linear;
            will-change: opacity, max-height;
        }
    }

    .accordion-content {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;

        p {
            font-size: 1rem;
            font-weight: 300;
            margin: 2em 0;
        }
    }
}

.ask .title {
    color: rgb(47, 47, 47);
    font-size: 132px;
    font-weight: 500;
    line-height: 110%;
    text-align: left;
    text-transform: uppercase;
}

.ask .super-block {
    width: 383px;
    height: 242px;

    border-radius: 20px;

    opacity: 0.3;
    background: #C4F449;
}

.ask {
    margin-bottom: 180px;
}

.ask .form {
    display: flex;
    flex-direction: column;
}

.ask .input-group, .textarea-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.ask .input, .textarea {
    height: 72px;
    margin-bottom: 13px;
    width: 383px;

    padding: 16px;
    font-size: 16px;

    color: black;

    background: white;

    box-sizing: border-box;
    border: 1px solid rgb(47, 47, 47);
    border-radius: 20px;
}

.ask .textarea {
    height: 216px;
}

.ask .button {
    height: 72px;
    width: 383px;
    background-color: #7b61ff;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.ask .button::after {
    content: '→';
}

.error {
    color: red;
    font-size: 12px;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

.modal__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal__align {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal__content {
    position: relative;
    width: 800px;
    max-width: 90%;
    padding: 20px;
    border-radius: 8px;
}

.modal__close {
    font-size: 40px;
    color: white;
    position: absolute;
    top: -10%;
    right: -20%;
    cursor: pointer;
}

.modal__video-align {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.modal__video-style {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.modal__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal__spinner-style {
    font-size: 50px;
    color: #fff;
}

.video-preview {
    position: relative;
    display: inline-block;
}

.preview-image {
    width: 100%;
    height: auto;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;

    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
}

.video-prev {
    margin: 20px 0 40px;
}

.needed .title {
    margin: 0 24px;
    position: relative;
    z-index: 10;
    text-align: center;

    color: rgb(47, 47, 47);
    font-size: 132px;
    font-weight: 500;
    line-height: 110%;
    text-transform: uppercase;
}

.needed .main-block {
    display: flex;
    justify-content: space-between;

    position: relative;
    z-index: 20;
}

.needed .block-1 {
    padding: 25px 14px 30px 26px;
    position: relative;
    top: -35px;
    z-index: 1000;
    width: 383px;
    height: 517px;

    border-radius: 20px;

    background: rgba(220, 220, 222, 0.3);
    backdrop-filter: blur(6px);

    .icon {
        width: 34px;
        height: 34px;
        border-radius: 1000px;
        padding: 4px;
        border: 1px solid rgb(47, 47, 47);
        margin-bottom: 40px;
    }

    .block-title {
        color: rgb(47, 47, 47);
        font-size: 30px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -1px;
        text-align: left;

        margin-bottom: 110px;
    }

    .text {
        color: rgb(122, 122, 122);
        font-family: Nunito Sans, serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 150%;
        text-align: left;
    }
}

.needed .block-2 {
    position: relative;
    top: 70px;

    padding: 25px 14px 30px 26px;
    width: 383px;
    height: 517px;

    border-radius: 20px;

    background: #2F2F2F;

    .icon {
        color: white;
        width: 34px;
        height: 34px;
        border-radius: 1000px;
        padding: 4px;
        border: 1px solid white;
        margin-bottom: 40px;
    }

    .block-title {
        color: rgb(255, 255, 255);
        font-size: 30px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -1px;
        text-align: left;

        margin-bottom: 110px;
    }

    .text {
        color: rgb(195, 195, 197);
        font-family: Nunito Sans, serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 150%;
        text-align: left;
    }
}


.needed .block-3 {
    position: relative;
    top: 180px;

    display: flex;
    flex-direction: column;
    color: #F4F4F6;
    padding: 25px 14px 30px 26px;
    width: 383px;
    height: 517px;

    border-radius: 20px;

    background: white;
    border: 1px solid black;

    .icon {
        color: #2F2F2F;
        width: 34px;
        height: 34px;
        border-radius: 1000px;
        padding: 4px;
        border: 1px solid #2F2F2F;
        margin-bottom: 40px;
    }

    .block-title {
        color: black;
        font-size: 30px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -1px;
        text-align: left;
        margin-bottom: 160px;
    }

    .text {
        color: rgb(122, 122, 122);
        font-family: Nunito Sans, serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 150%;
        text-align: left;
    }
}

